<h1>Welcome</h1>
<div class = 'container'>
			<% @items.each do |item| %>
			<div class = 'col-md-4 col-lg-3 col-xs-6 col-sm-6'>
			
	<div class="view view-third">
		<%= image_tag item.image(:thumb), class:'img-responsive'%>
		<div class = 'mask'> 
		<h2><%= item.title%></h2>
		<p><%= truncate(item.text, length:100 )%></p>
		<%= link_to 'Read More', item, class:'info'%>
		
		</div>
		
	</div>
	</div>
	
							<%end%>
