<h1>ITEMS!!!</h1>


<% @items.each do |item| %>
	<span class = 'grow pic'><%= link_to image_tag(item.image.url(:thumb)), item, class: 'img-thumb'%></span>
	<p><%= link_to item.title, item %></p>
	<hr>
	<%end%>
