<div class = 'container'>
<section class = 'portfolio'>	
	<div id = 'portfolio-items'>
		<div class = 'entry col-sm-6 col-lg-6'>
<%= image_tag(@item.image.url(:original), class: 'img-responsive')%>
<h2><%= @item.title%></h2>
<hr>
<p><%= @item.text%></p>

</div>
</section>
</div>
